.templeRun {
  height: 100vh;

  display: flex;
  flex-direction: row;
  background-color: #ffffff;
}

.templeRunContainer {
  width: 1030px;
}

.templeRunGame {
  width: 100%;
  height: 100%;
}

.endpoint {
  height: 0;
  width: 0;
}

.instructionsContainer {
  display: flex;
  flex-direction: column;
  flex:1;

  margin: 350px 40px 0 40px;

  color: black;
}

.armRow {
  display: flex;
  justify-content: space-between;
}

.leftArmContainer {
  display: flex;
  align-items: center;
}

.leftArmIcon {
  height: 100px;
}
  